@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
}

/*Estilos del encabezado y navegacion*/

header {
  background-color: rgb(193, 193, 230);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 250px;
  padding: 5px 10%;
  font-size: x-large;
}

.logo img {
  height: 200px;
  width: 200px;
  transition: all 0.3s;
  border-radius: 10px;
}

.logo img:hover {
  transform: scale(1.1);
}

.logo {
  cursor: pointer;
  
}

.navbar-container {
  display: flex;
}

.navbar-item {
  list-style-type: none;
}

.navbar-item a {
  display: inline-block;
  padding: 0 20px;
  
  color: rgb(35, 83, 126);
  text-decoration: none;
}

.navbar-item a:hover {
  transform: scale(1.1);
  transition: all 0.3s;
  color: blueviolet;
}
/*estilos de Nuestros servicios*/
#ns {
  text-align: center;
  font-weight: bolder;
  margin-top: 50px;
  font-size: xx-large;
}
.door-services {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: start;
  gap: 20px; 
  margin-top: 50px;
  font-size: x-large;
  
}
#product-title {
  text-align: center;
  
}
.door-services p {
  margin: 0;
  margin-left: 400px;
  margin-top: 20px;
}


.door-services img {
  width: 400px;
  height: 500px;
  border-radius: 5px;
  margin-right: 100px;
}

/*Estilos del footer*/
footer {
  background-color: rgb(193, 193, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  padding: 5px 10%;
}
.footer-container {
  text-align: center;
}

.social img:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

