* {
  box-sizing: border-box;
}

.container {
  position: relative;
}

.mySlides {
  justify-content: center;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.mySlides img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(83, 74, 95);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  
}

.next {
  right: 0;
  
}

.prev:hover,
.next:hover {
  transform: scale(1.5);
  transition: all 0.3s;
}

.caption-container {
  text-align: center;
  background-color: rgb(193, 193, 230);
  
}

#caption {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    
}

.column{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.demo,
.cursor {
    width: 50px;
    height: 50px;
}

.column {
  float: left;
  width: 7.5%;
}

.demo {
  opacity: 0.6;
  border-radius: 5px;
}

.active,
.demo:hover {
  opacity: 1;
}
