<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz de Administración de Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">

</head>

<body>
    <h1>Interfaz de Administración de Productos</h1>

    <!-- Formulario para agregar un nuevo producto -->
    <h2>Agregar Producto</h2>
    <form action="/productos" method="POST" enctype="multipart/form-data">
        <label for="codigo">Código:</label>
        <input type="text" name="codigo" required>
        <br>
        <label for="descripcion">Descripción:</label>
        <input type="text" name="descripcion" required>
        <br>
        <label for="cantidad">Cantidad:</label>
        <input type="text" name="cantidad" required>
        <br>
        <label for="precio">Precio:</label>
        <input type="text" name="precio" required>
        <br>
        <label for="proveedor">Proveedor:</label>
        <input type="text" name="proveedor" required>
        <br>
        <button type="submit">Agregar Producto</button>
    </form>

    
   
</body>

</html>